
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
  color:burlywood;
}
  
input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: rgb(112, 22, 112);
}

.form_add_superhero__btn {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .form_add_superhero__btn_add,
  .form_add_superhero__btn_cancel {
    padding: 0.5rem;
    font-size: 1rem;
    background-color:rgb(218, 162, 32);
    color: rgb(112, 22, 112);
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;

    &:hover {
      background: linear-gradient(to right, rgb(112, 22, 112), orange);
      color: whitesmoke;
      transform: translateY(-5px);
    }
  }
  
}



