.contact_notes{
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  margin: 0 auto;
 
  h2 {
    // display: flex;
    // color: bisque;
    font-size: 1.8rem;
    color: #ffcba4;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    color: bisque;
  }
   h3 {
    margin-top: 1.5rem;
    color: #ffd580;
    font-size: 1.2rem;
  }

  .contact_list {
    padding-left: 1.2rem;
    li {
      margin-bottom: 0.8rem;
      font-size: 0.95rem;

      strong {
        color: #ffa07a;
      }
    }
  }

  .contact_info {
    text-align: left;
    a {
      color: #81d4fa;
      text-decoration: underline;

      &:hover {
        color: #fff;
      }
    }
  }

  .social_links {
    padding-left: 1.2rem;
    li {
      margin-bottom: 0.6rem;

      a {
        color: #81d4fa;
        text-decoration: underline;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.contact_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:  2rem;
  padding: 1rem;
  height: 2rem;
  color: rgb(112, 22, 112);
  background-color: orange;
  border: none;

  &:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, orange, rgb(112, 22, 112));
    color: whitesmoke;
  }
}
