
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

label {
  font-weight: bold;
  color:burlywood;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form_task__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color:rgb(218, 162, 32);
  color: rgb(112, 22, 112);
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, rgb(112, 22, 112), orange);
    color: whitesmoke;
  }
}
