.register_notes{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    display: flex;
    color: bisque;
  }

  p {
    color: bisque;
  }
}

.register_btn__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 5rem;
  height: 2rem;
  color: whitesmoke;
  background-color: rgb(112, 22, 112);
  border: none;

  &:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, orange, rgb(112, 22, 112));
  }
}
