.session_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin-top: 3rem;
}

.session {
  display: flex;
  color:burlywood;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 10rem; // TB RL
}

.session_notes {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-right: 3rem;
}

h1 {
  font-size: 50px;
  text-shadow: #fc0 1px 0 5px; /* color | offset-x | offset-y | blur-radius */
}

.session_login {
  border-radius: 0.5rem;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(218, 162, 32);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(112, 22, 112);
}

.session_login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

label {
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
  width: 18rem;
  height: 2rem;
  background-color: whitesmoke;
  color: rgb(112, 22, 112);
  font-size: 1.2rem;
  border: none;
}

input:active {
  border-color: rgb(112, 22, 112);
}

.session_login_error {
  color: red;
  font-weight: bold;
  margin: 0.5rem 0;
  text-align: center;
}

.session_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  .session_btn__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 5rem;
    height: 2rem;
    margin-right: 1rem;
    color: whitesmoke;
    background:rgb(112, 22, 112);
    border: none;
  
    &:hover {
      transform: translateY(-5px);
      background: linear-gradient(to right, rgb(112, 22, 112), orange);
    }
  }
  
  .session_btn__back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 5rem;
    height: 2rem;
    color: whitesmoke;
    background-color: rgb(112, 22, 112);
    border: none;
  
    &:hover {
      transform: translateY(-5px);
      background: linear-gradient(to right, orange, rgb(112, 22, 112));
    }
  }
  
}

.session_login__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  border-top: 1px solid;
  border-color: gray;

  span {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  border-top-style: double;
  color: burlywood;
  text-decoration: none;
  width: 100vw;
  height: 25vh;
  margin: 0;
  padding: 0;
  // background-color: rgb(131, 33, 131);
  background-color: rgb(94, 28, 110);
  background-image: url(http://www.transparenttextures.com/patterns/xv.png);

  .session_footer_a_1 {
    color: whitesmoke;
    text-decoration: none;
  }

  .session_footer_a_2 {
    color: rgb(255, 140, 0);
    text-decoration: none;
  }
  
}

@media only screen and (max-width: 670px) {
  .session {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .session_notes {
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 0;
    padding: 0;
  }
}

/* Mobile devices media screen */
@media only screen and (max-width: 430px) and (max-height: 935px) {

  .session {
    margin: 0.5rem 2rem;
  }

  .session_notes {
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 25px;
  }
  .session_login {
    padding: 0;
  }

  .session_login__form {
    padding: 0;
  }

  .session_btn {
    margin: 1.5rem;
  }

  input {
    font-size: 1rem;
    height: 1.5rem;
  }

  footer {
    font-size: 0.8rem;
    height: 20vh;
  }

}

/* Samsung Galaxy S8 */
@media only screen and (width: 360px) and (height: 740px) {

  .session_page {
    margin-top: 0;
  }
  .session {
    margin: 0.5rem 2rem;
  }

  .session_notes {
    font-size: 15px;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 25px;
  }
  .session_login {
    padding: 0;
  }

  .session_login__form {
    padding: 0;
  }

  .session_btn {
    margin: 1.5rem;
  }

  input {
    font-size: 0.8rem;
    height: 1rem;
    width: 13rem;
  }

  footer {
    font-size: 0.8rem;
    height: 15vh;
  }

}


/* Surface Duo Media screen */
@media only screen and (width: 540px) and (height: 720px) {

  .session_page {
    margin-top: 0;
  }

  .session {
    margin: 0 3rem 2.5rem 3rem;
  }

  .session_notes {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 30px;
  }

  .session_login__form {
   padding: 0;
  }

  .session_btn {
    margin: 1.5rem;
  }

  input {
    font-size: 1rem;
    height: 1.5rem;
  }

  footer {
    font-size: 1rem;
    height: 15vh;
  }

}

/* Nest Hub */
@media only screen and (max-width: 1024px) and (max-height: 600px) {

  .session_page {
    margin-top: 0.5rem;
  }

  .session_notes {
    font-size: 20px;
    margin-right: 2rem;
  }

  h1 {
    font-size: 30px;
  }

  .session_login__form {
   padding: 0;
  }

  .session_btn {
    margin: 1.5rem;
  }

  input {
    font-size: 1rem;
    height: 1.5rem;
  }

  footer {
    font-size: 1rem;
    height: 20vh;
  }

}
